@inject PieShopHRM.App.Services.TokenProvider TokenProvider

@code {
    [Parameter]
    public PieShopHRM.App.Services.InitialApplicationState InitialState { get; set; }

    protected override Task OnInitializedAsync()
    {

        TokenProvider.XsrfToken = InitialState.XsrfToken;
        return base.OnInitializedAsync();
    }
 }

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>

</CascadingAuthenticationState>

